.table-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 40px;
    button {
        border: none;
        background-color: transparent;
        font-weight: 500;
        font-size: 24px;
    }
}

.table-footer__digits {
    display: flex;
    gap: 5px;
    font-weight: 700;
    font-style: italic;
    font-size: 18px;
    div {
        cursor: pointer;
    }
}

.digit-active a {
    color: #7EBC3C;
}

.button-disabled a{
    color: rgb(155, 154, 154);
    cursor: auto;
}

.button-active a {
    cursor: pointer;
}